USE [master]
GO
/****** Object:  Database [Magasine]    Script Date: 07.07.2023 21:10:44 ******/
CREATE DATABASE [Magasine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magasine', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Magasine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magasine_log', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Magasine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magasine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magasine]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07.07.2023 21:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](15) NULL,
	[category] [nchar](10) NULL,
	[price] [float] NULL,
	[discount] [int] NULL,
	[quantity] [int] NULL,
	[measurement] [nchar](10) NULL,
	[producer] [nchar](10) NULL,
	[country] [nchar](10) NULL,
	[supplier] [nchar](10) NULL,
	[date_of_delivery] [date] NULL,
	[expire_date] [date] NULL,
 CONSTRAINT [PK_Product_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (1, N'Гречка         ', N'Крупи     ', 45, 2, 10, N'пачки     ', N'Зірочка   ', N'Україна   ', N'Агротек   ', CAST(N'2023-08-10' AS Date), CAST(N'2023-10-04' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (2, N'Кукурудза      ', N'Крупи     ', 60, 10, 3, N'пачки     ', N'Панас     ', N'Уругвай   ', N'Andelos   ', CAST(N'2023-01-24' AS Date), CAST(N'2023-05-17' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (3, N'Рис            ', N'Крупи     ', 42, 5, 4, N'пачки     ', N'Зірочка   ', N'Україна   ', N'Агротек   ', CAST(N'2023-05-02' AS Date), CAST(N'2024-01-23' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
